<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title="LMS Systems"
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/mixin.css")

	
	include mixin.pug
	include var.pug
	
	body

		body
			+createHeader(title, find_icon, cloud_icon)
		nav.m-nav
			+createMenu(dictMenu, 'Главная')
		article#1
			each item in listSections
				section
					img(src= "img/" + item.image)
					h3= item.header
					p= item.text
						a(href="#") &hellip;
		footer
			+createFooter()
