body {
	font-family: Roboto, cursive;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cover {
	background: #F2F2F2;
	margin: auto 0px auto 0px;
}

h2,
h3,
h1 {
	font-family: Roboto, serif;
	text-align: center;
}


.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.bg-image{
	background-image: url("../img/bg_header.png");
}


.flex-item {
	color: #F2F2F2;
	text-align: center;
	margin: 5px;
	width: 100vw;
	margin-top: 0px;
}	

input{
	width: 60%;
	height: 25px;

	margin: 5px;
	margin-left: 0;
}

.find{
	background-color: #1b1b1b;
	width: 100vw;
}


header img{
	height: 25px;
	background-color: #ffa31a;
	margin: 5px;
	margin-left: 0;
	padding: 2px;
}

header h3{
	padding: 10px;
	background-color: #1b1b1b;
	color: #ff0000;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
}


.menu {
	display: flex;
	justify-content:space-evenly;
}

.menu > div{
	width: calc(50vw - 15px);
}

.menu a {
	color: black;
	text-decoration: none;
	margin: 5px;
	margin-left: 5px;
	margin-right: 0px;
	background-color: #292929;
	color: white;
	padding: 10px;
	text-decoration: none;
}


.card-holder {
	display: flex;
	flex-flow: wrap;
	background-color: #808080;
}

.card {
	margin-top: 20px;
	margin-bottom: 2%;
	margin-left: 5px;
	width: calc(50% - 5px);
	text-align: center;
}

.card > img{
	min-width: 250px;
	max-width: 95%;
}

.card>p {
	text-align: justify;
	margin-left: 2em;
	margin-right: 2em;
	text-indent: 25px;
	line-height: 1.5; 
}


footer {
	background: white;
}


@media screen and (max-width: 860px) {
	header h3{
		height: 5vh;
	}
	.menu{
		width: calc(100vw - 15px);
		flex-wrap: wrap;
		justify-content:center;

	}

	.menu > div{
		width: 0vw;
	}

	.menu > a{
		width: calc(50vw - 25px);
		margin: 5px;
	}
}

@media screen and (max-width: 650px) {	
	.card{
		width: 100vw;
	}
}