body
    article
        &.l-about
            padding 5px
            .t-content
                p.t-text
                    font-size 1.3rem
                    line-height: 1.5
                    text-indent 1.8%
                    text-align justify
                    padding 15px
            .base-image
                text-align center
                padding 5px
                &:hover
                    transform scale(1.5)
